extends layout

block content
  .container
    hr
    .jumbotron
      h1 Can you typing faster than others?
      div
        a(href="#").btn.btn-success.btn-large Sign in!
        span or
        a(href="play").btn.btn-success Try as guest
    hr
