doctype 5
html
  head
    title= 'Typing master'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/jquery.min.js')
  body
    #wrap
      .container
        .masthead
          a(href="/")
            h3.muted= "Typing master"
          .navbar
            .navbar-inner
              .container
                ul.nav
                  li.active
                    a(href="#") Home
                      i.icon-home
                  li
                    a(href="#") Ranking
                      i.icon-tasks
                ul.nav.right
                  li
                    a(href="#") Log in
                      i.icon-user
                  li
                    a(href="#") Register
                      i.icon-plus

      block content
      #push
    #footer
      .container
        ul
          li.muted.credit
            a(href="http://smefju.pl/") Maciej Małecki.
          li.muted.credit ·
          li.muted.credit source code @&nbsp;
            a(href="http://github.com/smt116/typing-master") github.
          li.muted.credit ·
          li.muted.credit bugs? suggestions? -&nbsp;
            a(href="https://github.com/smt116/typing-master/issues") create ticket.
