extends layout

block content
  script(type='text/javascript', src='/javascripts/play.js')
  .container.play
    hr
    div#playText.well.well-small Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi.
    input.input-xlarge#playInput(type="text")
    span.label.label-info Word is accepted by pressing the space bar.
    hr
