extends layout

block content
  script(type='text/javascript', src='/javascripts/play.js')
  .container.play
    hr
    table.table
      tr
        th Progress
        th CPM
        th WPM
        th Typing mistakes
        th Wording mistakes
      tr
        td
          div.progress.progress-striped
            div.bar(style="width: 0%")
        td#cpm 0
        td#wpm 0
        td#typingMistakes 0
        td#wordingMistakes 0
    hr
    div#playText.well.well-small
    div#playInputArea
      input.input-xlarge#playInput(type="text")
      span.label.label-info Word is accepted by pressing the space bar.
    hr
