extends layout

block content
  script(type='text/javascript')
    var userTimeToStart = !{timeToStart}
  script(type='text/javascript', src='/javascripts/play.js')
  .container.play
    hr
    h3 Time to start: 
      span#timeLeft.label.label-success
    hr
    table.table
      tr
        th Player
        th Progress
        th CPM
        th WPM
        th Typing mistakes
        th Wording mistakes
      tr#you.info
        td You
        td
          div.progress.progress-striped
            div.bar(style="width: 0%")
        td.cpm 0
        td.wpm 0
        td.typingMistakes 0
        td.wordingMistakes 0
    hr
    div#playText.well.well-small
    div#playInputArea
      input.input-xlarge#playInput(type="text")
      span.label.label-info Word is accepted by pressing the space bar.
    hr
