@import "../../vendor/twitter/bootstrap/less/bootstrap.less";
body {
  padding-top: 60px;
  padding-bottom: 40px;
}
@import "../../vendor/twitter/bootstrap/less/responsive.less";
@iconSpritePath: "/images/bootstrap/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/images/bootstrap/glyphicons-halflings-white.png";
